.App {
  padding: 30px;
  display: flex;
}
li{
  list-style: none;
}
.App > div {
  margin-right: 50px;
}
.error{
  border: 1px solid red;
  outline: none;

}
.error-message{
  color: red;
}
.btn-active{
  background-color: blueviolet;
  border-color:blueviolet;
  color:white;
}
.is-done{
  opacity: .5;
  text-decoration: line-through;


}
